<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite" verbose="1" parallel="tests"
	thread-count="1" configfailurepolicy="continue">
	<listeners>
	<listener class-name="com.shop.analyzer.MyShopAnalyzerTransform"/>
	
	</listeners>
	
	<test name="Shop Clues Test">
		<classes>
			<class name="myRunner.TestRunner" />
		</classes>
	</test>
</suite>